body {
    padding: 20px;
    margin: 0;
    background-image: url("./img/beanstalk.png");
  }
  h1, h2, p, ul, li {
    font-family: Arial, Helvetica, sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgba(91, 91, 91, 0.714);
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: rgba(255, 255, 255, 0.735);
    padding: 20px;
  }

  h1 {
    padding: .7rem 1rem 1rem 1rem;
  }
/* 
  .row {
    padding: .5rem;
  }

  .col {
    padding: .5rem;
  }
 */
  .content h2 {
    padding: .5rem 1rem 1rem 1rem;
    margin: 1rem;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  #dropdown {
    color: #666666;
  }

  #dropdown.active {
    color: #EEEEEE;
  }

  .loading {
    font-weight: 900;
    padding: 5em;
  }